In [1]:
import pandas as pd

In [6]:
df_telecom = pd.read_csv("../database/clientes_telecom.csv")

In [9]:
#Vendo se tem dados vazio
df_telecom.isnull().sum()

id_cliente                      0
genero                          0
idoso                           0
tem_parceiro                    0
tem_dependentes                 0
meses_na_empresa                0
servico_telefone                0
multiplas_linhas                0
servico_internet                0
servico_seguranca               0
servico_backup                  0
servico_protecao_equipamento    0
servico_suporte_tecnico         0
streaming_tv                    0
streaming_filmes                0
contrato                        0
fatura_digital                  0
forma_pagamento                 0
valor_mensal                    0
total_gasto                     0
churn                           0
dtype: int64

In [7]:
#Vendo as informações de cada coluna
df_telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_cliente                    7043 non-null   object
 1   genero                        7043 non-null   object
 2   idoso                         7043 non-null   object
 3   tem_parceiro                  7043 non-null   object
 4   tem_dependentes               7043 non-null   object
 5   meses_na_empresa              7043 non-null   int64
 6   servico_telefone              7043 non-null   object
 7   multiplas_linhas              7043 non-null   object
 8   servico_internet              7043 non-null   object
 9   servico_seguranca             7043 non-null   object
 10  servico_backup                7043 non-null   object
 11  servico_protecao_equipamento  7043 non-null   object
 12  servico_suporte_tecnico       7043 non-null   object
 13  streaming_tv                  7043 non-null   object
 14  streaming_filmes              7043 non-null   object
 15  contrato                      7043 non-null   object
 16  fatura_digital                7043 non-null   object
 17  forma_pagamento               7043 non-null   object
 18  valor_mensal                  7043 non-null   float64
 19  total_gasto                   7043 non-null   float64
 20  churn                         7043 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 1.1+ MB

In [8]:
#Resumo de estátisticas do df
df_telecom.describe()

       meses_na_empresa  valor_mensal  total_gasto
count       7043.000000   7043.000000  7043.000000
mean          32.371149     64.761692  2281.916928
std           24.559481     30.090047  2265.270398
min            0.000000     18.250000    18.800000
25%            9.000000     35.500000   402.225000
50%           29.000000     70.350000  1397.475000
75%           55.000000     89.850000  3786.600000
max           72.000000    118.750000  8684.800000

In [10]:
#5 primeiras linhas do df
df_telecom.head()

,id_cliente,genero,idoso,tem_parceiro,tem_dependentes,meses_na_empresa,servico_telefone,multiplas_linhas,servico_internet,servico_seguranca,...,servico_protecao_equipamento,servico_suporte_tecnico,streaming_tv,streaming_filmes,contrato,fatura_digital,forma_pagamento,valor_mensal,total_gasto,churn
0,7590-VHVEG,Feminino,Não,Sim,Não,1,Não,Não,DSL,Não,...,Não,Não,Não,Não,Mensal,Sim,Boleto,29.85,29.85,Não
1,5575-GNVDE,Masculino,Não,Não,Não,34,Sim,Não,DSL,Sim,...,Sim,Não,Não,Não,Anual,Não,Cheque,56.95,1889.50,Não
2,3668-QPYBK,Masculino,Não,Não,Não,2,Sim,Não,DSL,Sim,...,Não,Não,Não,Não,Mensal,Sim,Cheque,53.85,108.15,Sim
3,7795-CFOCW,Masculino,Não,Não,Não,45,Não,Não,DSL,Sim,...,Sim,Sim,Não,Não,Anual,Não,Transferencia,42.30,1840.75,Não
4,9237-HQITU,Feminino,Não,Não,Não,2,Sim,Não,Fibra optica,Não,...,Não,Não,Não,Não,Mensal,Sim,Boleto,70.70,151.65,Sim